<div class="task" data-aos="flip-left">
    <div class="left-section">
        <img src="../../../assets/img/appointment.png" alt="appointment icon">
    </div>
    <div class="task-data">
        <h3>titolo task</h3>
        
        <div class="time">
            <img src="../../../assets/img/clock.png" alt="time icon">
            <p>10/13/2022 9:00AM</p>
        </div>

        
        <div class="location">
            <img src="../../../assets/img/position.png" alt="position logo">
            <p>Barcelona, Spain</p>
        </div>

        <p>this is the description</p>
        <img src="../../../assets/img/edit.png" alt="edit icon" class="edit" (click)="onEditClick()">
    </div>
</div>